/* Sidebar customization */
/* Adjust the margin, border-radius, height, display, flex-direction, and box-shadow of the sidebar */
.sidebar {
    margin: 0 10px 0 0 !important;
    border-radius: 0.5rem;
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: transform 0.3s ease;
}

/* Terminal panel customization */
/* Adjust the margin, height, border-radius, display, flex-direction, and box-shadow of the terminal panel */
.monaco-workbench .part.panel {
    margin: 0 10px 0 10px;
    height: calc(100% - 10px);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* Secondary sidebar customization */
/* Adjust the margin, border-radius, height, display, flex-direction, and box-shadow of the secondary sidebar */
.monaco-workbench .part.auxiliarybar {
    margin: 0 0 0 10px !important;
    border-radius: 0.5rem;
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: transform 0.3s ease;
}

/* Terminal container customization */
/* Adjust the border-radius and overflow of the terminal container */
div#terminal {
    border-radius: 0.75rem;
    overflow: hidden;
}

/* Tab customization */
/* Adjust the height of the tab border top container */
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.selected.tab-border-top>.tab-border-top-container {
    height: 0;
}

/* Adjust the border-radius of the tabs */
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab {
    border-radius: 0.5rem 0.5rem 0 0;
}

/* Adjust the box-shadow and background of the active tab */
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.active {
    box-shadow: rgba(0, 0, 0, 0.311) 0px 20px 25px -5px, rgba(0, 0, 0, 0.23) 0px 10px 10px -5px;
    background: #e5e5e5 !important;
}

/* Editor group container customization */
/* Adjust the border-radius and overflow of the editor group container */
.editor-group-container {
    border-radius: 0.5rem;
    overflow: hidden;
}

/* Adjust the border-radius of the editor container when it contains an extension editor */
.editor-group-container .editor-container:has(.extension-editor) {
    border-radius: 0.5rem;
}